/* Common */
* {
    box-sizing: border-box;
}

body,
input,
button {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
        sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

input,
button {
    border: none;
    outline: none;
}

/* Index */
.main-container {
    background: #34495e;
}

.nav-list {
    padding: 20px;
    text-align: center;
    font-size: 0;
}

.item {
    display: inline-block;
    padding: 15px 20px;
    font-size: 18px;
    font-weight: 500;
    color: white;
    cursor: pointer;
}

.item:hover {
    text-decoration: underline;
}

/* Menu */
.menu {
    background: #e4f1fe;
}

.menu-nav {
    background: #4d5abd;
}

.menu-list {
    text-align: center;
    font-size: 0;
}

.menu-item {
    display: inline-block;
    padding: 25px 18px;

    font-size: 18px;
    font-weight: 500;
    color: #edf5fc;
}

.menu-item:hover {
    background: #d1e5f7;
    color: #484d54;
    text-shadow: 2px -1px 8px rgba(100, 102, 105, 0.4);
    cursor: pointer;
}

.menu-item::after {
    content: '';
    margin-left: 18px;
    border-right: 1.5px solid;
}

.menu-item::before {
    content: '\25B6';
    margin-right: 2px;
}

.menu-item:last-child::after {
    display: none;
}

.menu-item:active {
    background: #cee5f7;
    color: #1c1e21;
    text-shadow: none;
}

/* Form */
.form-body {
    background: linear-gradient(to right, #a8f7df, #8cf0ee, #8df5d5, #79ddef);
}

.form-container {
    max-width: 800px;
    margin: 0 auto;
    background: rgb(1, 53, 67, 0.9);
    border-radius: 30px;
}

.form-content {
    margin: 50px 0;
    padding: 50px 80px;

    /* background: #173d48; */

    color: #ebf3f6;
}

.form-content:focus-within {
    outline: 4px solid #036846cf;
    border-radius: 30px;
}

.form {
    width: 60%;
    margin: 0 auto;
}

.form-heading {
    text-align: center;
}

.form-title {
    font-size: 35px;
    font-weight: 500;
}

.form-text {
    margin-top: 20px;
    font-size: 18px;
    color: #abf8df;
}

.form-group {
    margin-top: 25px;
}

.form-label,
.text-input {
    display: block;
}

.text-input:focus {
    background: rgb(255, 255, 255, 0.1);
    border: 1.8px solid rgba(224, 219, 219, 0.8);
    color: #fff;
    font-weight: 500;
}

/* Need 2 conditions */
.form-group:has(:invalid:not(:placeholder-shown)) .text-input {
    background: rgba(214, 103, 103, 0.4);
    border: 1.8px solid rgb(208, 58, 58);
}

.radio-text,
.checkbox-text {
    display: block;
}

.form-label,
.radio-text,
.checkbox-text {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 500;
}

.required::after {
    content: '*';
    font-size: 14px;
    margin-left: 5px;
}

.text-input {
    width: 100%;
    padding: 10px 12px;
    background-color: transparent;
    border: 1.2px solid rgba(224, 219, 219, 0.836);
    border-radius: 6px;

    font-size: 16px;
    color: #e2edf1;
}

.text-input::placeholder {
    font-size: 15px;
    color: #f1f4f5;
    opacity: 0.3;
}

.avatar-form {
    text-align: center;
}

.avatar-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.avatar-img:hover {
    cursor: pointer;
}

.avatar-input {
    border: none;
    display: none;
}

.radio-group,
.checkbox-group {
    margin-top: 30px;
}

.radio-input,
.radio-label,
.checkbox-input,
.checkbox-label {
    display: inline-block;
}

.checkbox-item + .checkbox-item {
    margin-top: 2px;
}

.radio-input,
.checkbox-input {
    width: initial;
}

.radio-input {
    margin-right: 5px;
}

.radio-label,
.checkbox-label {
    margin-right: 20px;
    font-size: 16px;
    font-weight: 400;
    color: #e8eef3;
}

.checkbox-input {
    margin-right: 8px;
}

.btn {
    width: 100%;
    margin-top: 30px;
    padding: 0 20px;
    border-radius: 6px;
    background: #abf6dc;

    line-height: 45px;
    font-size: 17px;
    font-weight: 600;
    color: #36425a;

    opacity: 0.4;
    pointer-events: none;
    user-select: none;
}

.btn:active {
    box-shadow: 3px 4px 10px #1bf8aecf;
}

.form-content:focus-within .btn {
    opacity: 1;
    pointer-events: auto;
}

.form-content:focus-within .btn:hover {
    cursor: pointer;
}
